.wrapper {
    padding-top: 24px;
}

.title {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
}

.auth {
    padding: 20px 0;

    form {
        display: flex;

        > div {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

.register {
    padding: 0 15px;

    h4 {
        margin-bottom: 10px;
        font-weight: 500;
    }

    > div {
        display: flex;
        margin-right: -15px;
        margin-left: -15px;
    }

    .btn {
        margin-top: 20px;
        padding: 0 15px;

        button {
            width: 100%;
            height: 50px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.group {
    flex: 1;
    padding: 0 15px;
    margin-bottom: 1.5rem;

    label {
        color: var(--grey);
        display: block;

        span {
            color: red;
        }
    }

    input,
    select,
    textarea {
        width: 100%;
        appearance: none;

        &:focus {
            color: #495057;
            background-color: var(--white);
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
        }
    }

    input,
    select {
        height: 48px;
        padding: 0 15px;
        font-size: 1.4rem;
        border-radius: 4px;
        border: 1px solid #ced4da;
        color: var(--text-color);
        background-color: transparent;
        font-family: var(--font-family);
    }

    textarea {
        height: 80px;
        padding: 16px;
        border-radius: 4px;
        border: 1px solid #ced4da;
        resize: none;
    }
}

.captcha {
    border: 1px solid #e7e8e9;
    margin: 15px 0;
    padding: 5px 10px;
    line-height: 0;
    display: inline-block;
}

.checkbox {
    flex-wrap: wrap;
    padding: 0 15px;

    div {
        width: 100%;
    }

    span {
        color: var(--grey);
        margin-left: 1rem;

        a {
            color: #f31f1f;
        }
    }
}
