@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --white: #fff;
    --black: #221f20;
    --text-color: #57585a;
    --grey: #6c6d70;

    // Font
    --font-family: 'Montserrat', sans-serif;

    // Default layout
    --default-layout-width: 1380px;
    --default-layout-header-height: 80px;
    --default-layout-horizontal-spacer: 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--black);
}

ul {
    list-style: none;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
}

// Swiper
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 1px solid #d1d2d4;
    background-color: var(--white);
    transition: 0.3s ease;
}
