.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d1d2d4;
}

.inner {
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    max-width: 22.05%;
    width: 100%;
}

.logo {
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    a {
        margin-right: 10px;
    }

    img {
        width: 100%;
        display: block;
    }
}

.content {
}

.info {
    p {
        font-size: 1.4rem;
        margin-bottom: 12px;
    }
}

.social {
    margin-top: 24px;
    margin-bottom: 32px;

    a {
        margin-right: 25px;
        display: inline-block;
        vertical-align: middle;
    }
}

.content button {
    text-transform: uppercase;
    font-weight: 600;
}

.center {
    max-width: 45.2%;
    width: 100%;
}

.right {
    max-width: 23.75%;
    width: 100%;
}
