.wrapper {
    margin-bottom: 40px;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.head {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;

        li {
            display: inline-block;
            color: var(--grey);
            margin-right: 56px;
            font-size: 2rem;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.product {
    position: relative;
    padding: 0 15px;
    margin: 0 -15px;
}

.ticket {
    position: absolute;
    background: url(../../../assets/images/ticket.png) no-repeat center / cover;
    color: var(--white);
    top: 0;
    left: -7px;
    padding: 8px 16px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 2;

    &::after {
        content: '';
        position: absolute;
        bottom: -16px;
        left: 0px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-top: 17px solid #ac2f33;
        z-index: -1;
    }
}

.thumb {
    margin-bottom: 17px;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
        display: block;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.color {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    ul {
        display: flex;

        li {
            width: 18px;
            margin-right: 10px;
            display: inline-block;

            img {
                width: 100%;
                border-radius: 50%;
                display: block;
            }
        }
    }
}

.favourite {
    cursor: pointer;
}

.name {
    a {
        color: var(--text-color);
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.4rem;
        margin-bottom: 10px;
        display: block;
        text-transform: capitalize;
    }
}

.price {
    ins {
        color: #3e3e3f;
        font-weight: 600;
        font-size: 1.6rem;
        text-decoration: none;
        display: inline-block;
    }
}

.cart {
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0;
    border: 1px solid transparent;
}

.btn {
    margin-top: 24px;
    text-align: center;

    a {
        border-radius: 24px 0;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 93%;
            bottom: 0;
            right: -5px;
            border: 1px solid #d1d2d4;
            border-radius: 24px 0px;
            z-index: -1;
        }
    }
}
