.search-result {
    width: 440px;

    h4 {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 16px;
    }
}

.search-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
        display: inline-block;
        font-size: 1.2rem;
        line-height: 1.2rem;
        padding: 9px 12px;
        margin: 0 8px 8px 0;
        color: #6c6d70;
        border: 1px solid #e7e8e9;
        border-radius: 8px 0;
    }
}

.search {
    --search-btn-width: 40px;
    --seach-height: 40px;

    width: 240px;
    height: var(--seach-height);
    display: flex;
    border-radius: 4px;
    margin-right: 25px;
    border: 1px solid #e7e8e9;
    overflow: hidden;

    input {
        flex: 1;
        height: 100%;
        font-size: 1.2rem;
        font-weight: 400;
        background-color: transparent;
        font-family: var(--font-family);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-btn {
    width: var(--search-btn-width);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}
